<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>&#127846; Vanilla - Forms</title>
  <meta name="author" content="Zach Cohen">
  <meta name="description" content="Vanilla web experiments">
  <meta name="keywords" content="front-end,web,experiments">
  <link rel="stylesheet" href="/main.css">
  </head>
  <body>

  <h1>CSS Float</h1>
  <p>The <code>float</code> CSS property places an element on the left or right side of its container, allowing text and inline elements to wrap around it. The element is removed from the normal flow of the page, though still remaining a part of the flow (in contrast to absolute positioning). - <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/float">MDN Web Docs</a></p>
  

<footer>
    <p><a href="https://www.github.com/zachco/vanilla">Source</a></p>
    <p><a href="/main.html">Go Back</a></p>
</footer>

</body>
</html>